@model Choonbee.Models.Tournament

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Name - Tournament Details</h2>

<fieldset>
    <legend>Tournament</legend>
    @Html.DisplayFor(model => Model.Season.Name) - @Html.DisplayFor(model => model.DateHeld)
</fieldset>

<h3>@Html.ActionLink("View Divisions", "ViewDivisions", new { id=Model.TournamentId }) - @Html.ActionLink("View Scores", "TeamScores", new { id=Model.TournamentId }) - @Html.ActionLink("Manage Teams", "ManageTeams", new { id = Model.TournamentId })</h3>

<h3>Participants</h3>
<a href="/Tournament/AddExistingParticipant/@Model.TournamentId">Add Existing Participant to Tournament</a><br />
<a href="/Participant/Create?tournamentId=@Model.TournamentId">Add New Participant to Tournament</a><br /><br />
There are <font color="green">@Model.Participants.Count()</font> participants.

@if(Model.Participants.Count != 0){
    <table>
        <tr class="border_bottom">
            @*TODO: add active/inactive for tournament/participant registration, to avoid complications of deleting from a tournament*@
            <td><b>Full Name</b></td><td><b>Rank</b></td><td><b>Age</b></td><td><b>Height</b></td><td><b>Gender</b></td><td></td><td></td>
        </tr>
    @foreach (var participant in Model.Participants.OrderBy(p => p.LastName)){
        <tr class="border_bottom">
            <td>@Html.ActionLink(participant.FirstName + " " + participant.LastName, "ManageParticipantDivision", "Tournament", new { id = Model.TournamentId, participantId = participant.ParticipantId, ret = "/Tournament/Details/" + Model.TournamentId }, "")</td>
            <td>@participant.Rank.RankName</td>
            <td>@participant.Age</td>
            <td>@participant.HeightFeet'@participant.HeightInches </td>
            <td>@participant.Gender</td>
            <td>@Html.ActionLink("Edit Participant", "Edit", "Participant", new { id = participant.ParticipantId}, "")</td>
            <td>@Html.ActionLink("Unregister", "RemoveParticipant", new {id=Model.TournamentId, participantid = participant.ParticipantId})</td>
        </tr>
    }
        </table>
}
else{
    <p>No participants in this tournament yet.</p>
}
<br /><br />

<span style="background:red;">@Html.ActionLink("Populate from default", "Populate", new { id=Model.TournamentId })</span> ONLY NEEDS 1 CLICK FOR LIFE OF TOURNAMENT<br />
<a href="/Tournament/DumpRegistration/@ViewBag.TournamentId">Dump Registration</a>