@model ICollection<Choonbee.Models.TeamScore>

@{
    ViewBag.Title = "TeamScores";
}

<h2>Team Scores</h2>
<p>Last Updated: <b>@DateTime.Now</b></p>

@foreach (var team in Model)
{
    <p>@team.SchoolName - @team.TeamName - @team.Score</p>
    foreach (var participant in team.Participants.Values.OrderBy(p => p.Score).ThenBy(p => p.Name))
    {
        <p>@participant.Name - @participant.Score</p>
    }
}

<span style="color: red"><b>Warning: This feature is experminent only. There may be inaccuracies.</b></span>